api_responseisongoh88@u.nus.edu

API KEY: fe65ed94-b963-4335-9ec1-0a186213b2d9

In [1]:
# pip install requests

Requirement already satisfied: requests in c:\users\adison\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\adison\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\adison\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\adison\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\adison\anaconda3\lib\site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests
import json

import pandas as pd
import numpy as np

In [8]:
# Import list of IMO values

# Read the CSV file into a DataFrame
data = pd.read_csv("netnewimo_dec2019.csv")

# Display the DataFrame
data.head()

   Net new IMOs
0       9419448
1       9447861
2       9768667
3       9371153
4       9533323

In [9]:
df_imo = data['Net new IMOs']
print(len(df_imo))
df_imo.head()

1092

0    9419448
1    9447861
2    9768667
3    9371153
4    9533323
Name: Net new IMOs, dtype: int64

In [10]:
ship_cols = ['id', 'imo', 'vessel_name', 'beneficial_owner', 'beneficial_owner_country',
             'operator', 'operator_country', 'flag_name', 'vessel_type_code', 'built_year',
             'buyer', 'dwt_design', 'class1_code', 'technical_manager', 'technical_manager_country',
             'commercial_manager', 'commercial_manager_country', 'modified_at']

# Create an empty DataFrame with columns based on the values in ship_cols
df_shipdata = pd.DataFrame(columns=ship_cols)

# Display the empty DataFrame
df_shipdata

Empty DataFrame
Columns: [id, imo, vessel_name, beneficial_owner, beneficial_owner_country, operator, operator_country, flag_name, vessel_type_code, built_year, buyer, dwt_design, class1_code, technical_manager, technical_manager_country, commercial_manager, commercial_manager_country, modified_at]
Index: []

In [11]:
# samplelist = [9593397, 9550125, 9343211, 9830484]

count = 0

# for imo in samplelist:
for imo in df_imo:
    count += 1
    print(count)
    
    params = {
      'api-key': 'fe65ed94-b963-4335-9ec1-0a186213b2d9',
      'imo': imo #'PARAMETER_VALUE'
    }
    
    # make API call, result returned as a python dict
    method = 'vessel'
    api_base = 'https://api.datalastic.com/api/maritime_reports/ownership?'
    api_result = requests.get(api_base+method, params)
    api_response = api_result.json()

    # Extract the list of dictionaries under the 'data' key
    data_list = api_response['data']

    # Create a new DataFrame from the data_list
    new_data = pd.DataFrame(data_list)

    # Append the new data to the existing DataFrame
    df_shipdata = pd.concat([df_shipdata, new_data], ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092

In [12]:
print(df_shipdata.shape)
df_shipdata.head()

(840, 18)

,id,imo,vessel_name,beneficial_owner,beneficial_owner_country,operator,operator_country,flag_name,vessel_type_code,built_year,buyer,dwt_design,class1_code,technical_manager,technical_manager_country,commercial_manager,commercial_manager_country,modified_at
0,8325,9419448,ADVANTAGE ARROW,Advantage Tankers LLC,Switzerland,Advantage Tankers LLC,Switzerland,Marshall Islands,Tank,2009,None,115804,ABS,Anglo-Eastern Tanker Management (Hong Kong) Ltd,Hong Kong,Advantage Tankers LLC,Switzerland,2021-11-01T00:00:00Z
1,23621,9533323,MANDARIN NOBLE,COSCO Shipping Financial Co Ltd,Hong Kong,COSCO Shipping Financial Co Ltd,Hong Kong,Liberia,Bulk,2012,None,56693,CC,Dasin Shipping Pte Ltd,Singapore,COSCO Shipping Financial Co Ltd,Hong Kong,2020-01-01T00:00:00Z
2,25112,9441556,HERITAGE LEADER,Stamco Ship Management Co. Ltd,Greece,Stamco Ship Management Co. Ltd,Greece,Bahamas,PCC,2011,None,20434,DNV,None,None,Stamco Ship Management Co. Ltd,Greece,2020-01-01T00:00:00Z
3,12637,9352872,ZAKROS,Glory Maritime Ltd,Japan,Glory Maritime Ltd,Japan,Panama,Tank,2005,None,3644,RI,None,None,Glory Maritime Ltd,Japan,2020-01-01T00:00:00Z
4,8157,9737503,TEXAS TRIUMPH,Nissen Kaiun KK,Japan,Nissen Kaiun KK,Japan,Panama,Cont,2017,None,146722,ABS,Synergy Marine Pte Ltd,Singapore,Nissen Kaiun KK,Japan,2021-11-23T00:00:00Z

In [13]:
df_shipdata.to_csv('datalastic_ship_data_Dec2019.csv', index=False)

### Archive: Testing

In [9]:
params = {
  'api-key': 'fe65ed94-b963-4335-9ec1-0a186213b2d9',
  'imo': 9593397 #'PARAMETER_VALUE'
}
method = 'vessel'
# api_base = 'https://api.datalastic.com/api/v0/vessel_info?'
api_base = 'https://api.datalastic.com/api/maritime_reports/ownership?'
api_result = requests.get(api_base+method, params)
api_response = api_result.json()

# https://api.datalastic.com/api/v0/vessel_info?api-key={YOUR_API_KEY}&{PARAMETER}={PARAMETER_VALUE}
# https://api.datalastic.com/api/v0/vessel_info?api-key={YOUR_API_KEY}&mmsi=101288184

# GET https://api.datalastic.com/api/maritime_reports/ownership?api-key={API_KEY}&imo=9593397

print(json.dumps(api_response, indent=4, sort_keys=True))

{
    "data": [
        {
            "beneficial_owner": "Korea Line Corp",
            "beneficial_owner_country": "Korea, Republic Of",
            "built_year": "2012",
            "buyer": null,
            "class1_code": "KR",
            "commercial_manager": "Korea Line Corp",
            "commercial_manager_country": "Korea, Republic Of",
            "dwt_design": 15016,
            "flag_name": "South Korea",
            "id": 14773,
            "imo": "9593397",
            "modified_at": "2020-01-01T00:00:00Z",
            "operator": "Korea Line Corp",
            "operator_country": "Korea, Republic Of",
            "technical_manager": null,
            "technical_manager_country": null,
            "vessel_name": "DONGBANG GIANT No.6",
            "vessel_type_code": "Gen"
        }
    ],
    "meta": {
        "duration": 0.114667056,
        "endpoint": "/api/maritime_reports/ownership",
        "success": true
    }
}

In [40]:
params = {
  'api-key': 'fe65ed94-b963-4335-9ec1-0a186213b2d9',
  'imo': 9550125 #'PARAMETER_VALUE'
}
method = 'vessel'
# api_base = 'https://api.datalastic.com/api/v0/vessel_info?'
api_base = 'https://api.datalastic.com/api/maritime_reports/ownership?'
api_result = requests.get(api_base+method, params)
api_response = api_result.json()

# https://api.datalastic.com/api/v0/vessel_info?api-key={YOUR_API_KEY}&{PARAMETER}={PARAMETER_VALUE}
# https://api.datalastic.com/api/v0/vessel_info?api-key={YOUR_API_KEY}&mmsi=101288184

# GET https://api.datalastic.com/api/maritime_reports/ownership?api-key={API_KEY}&imo=9593397

print(json.dumps(api_response, indent=4, sort_keys=True))

{
    "data": [],
    "meta": {
        "duration": 0.01067686,
        "endpoint": "/api/maritime_reports/ownership",
        "success": true
    }
}

In [12]:
api_response

{'data': [{'id': 14773,
   'imo': '9593397',
   'vessel_name': 'DONGBANG GIANT No.6',
   'beneficial_owner': 'Korea Line Corp',
   'beneficial_owner_country': 'Korea, Republic Of',
   'operator': 'Korea Line Corp',
   'operator_country': 'Korea, Republic Of',
   'flag_name': 'South Korea',
   'vessel_type_code': 'Gen',
   'built_year': '2012',
   'buyer': None,
   'dwt_design': 15016,
   'class1_code': 'KR',
   'technical_manager': None,
   'technical_manager_country': None,
   'commercial_manager': 'Korea Line Corp',
   'commercial_manager_country': 'Korea, Republic Of',
   'modified_at': '2020-01-01T00:00:00Z'}],
 'meta': {'duration': 0.114667056,
  'endpoint': '/api/maritime_reports/ownership',
  'success': True}}

In [36]:
# Extract the list of dictionaries under the 'data' key
data_list = api_response['data']
print(data_list)

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data_list)

# Display the DataFrame
df

[{'id': 14773, 'imo': '9593397', 'vessel_name': 'DONGBANG GIANT No.6', 'beneficial_owner': 'Korea Line Corp', 'beneficial_owner_country': 'Korea, Republic Of', 'operator': 'Korea Line Corp', 'operator_country': 'Korea, Republic Of', 'flag_name': 'South Korea', 'vessel_type_code': 'Gen', 'built_year': '2012', 'buyer': None, 'dwt_design': 15016, 'class1_code': 'KR', 'technical_manager': None, 'technical_manager_country': None, 'commercial_manager': 'Korea Line Corp', 'commercial_manager_country': 'Korea, Republic Of', 'modified_at': '2020-01-01T00:00:00Z'}]

,id,imo,vessel_name,beneficial_owner,beneficial_owner_country,operator,operator_country,flag_name,vessel_type_code,built_year,buyer,dwt_design,class1_code,technical_manager,technical_manager_country,commercial_manager,commercial_manager_country,modified_at
0,14773,9593397,DONGBANG GIANT No.6,Korea Line Corp,"Korea, Republic Of",Korea Line Corp,"Korea, Republic Of",South Korea,Gen,2012,None,15016,KR,None,None,Korea Line Corp,"Korea, Republic Of",2020-01-01T00:00:00Z

In [23]:
# Extract the list of dictionaries under the 'data' key
data_list = api_response['data']

# Create a new DataFrame from the data_list
new_data = pd.DataFrame(data_list)

# Append the new data to the existing DataFrame
df = pd.concat([df, new_data], ignore_index=True)

df

,id,imo,vessel_name,beneficial_owner,beneficial_owner_country,operator,operator_country,flag_name,vessel_type_code,built_year,buyer,dwt_design,class1_code,technical_manager,technical_manager_country,commercial_manager,commercial_manager_country,modified_at
0,14773,9593397,DONGBANG GIANT No.6,Korea Line Corp,"Korea, Republic Of",Korea Line Corp,"Korea, Republic Of",South Korea,Gen,2012,None,15016,KR,None,None,Korea Line Corp,"Korea, Republic Of",2020-01-01T00:00:00Z
1,14773,9593397,DONGBANG GIANT No.6,Korea Line Corp,"Korea, Republic Of",Korea Line Corp,"Korea, Republic Of",South Korea,Gen,2012,None,15016,KR,None,None,Korea Line Corp,"Korea, Republic Of",2020-01-01T00:00:00Z
2,14773,9593397,DONGBANG GIANT No.6,Korea Line Corp,"Korea, Republic Of",Korea Line Corp,"Korea, Republic Of",South Korea,Gen,2012,None,15016,KR,None,None,Korea Line Corp,"Korea, Republic Of",2020-01-01T00:00:00Z
3,14773,9593397,DONGBANG GIANT No.6,Korea Line Corp,"Korea, Republic Of",Korea Line Corp,"Korea, Republic Of",South Korea,Gen,2012,None,15016,KR,None,None,Korea Line Corp,"Korea, Republic Of",2020-01-01T00:00:00Z

In [ ]:
# import requests
# import json
# import pandas as pd

# # Define your API key and base URL
# API_KEY = "YOUR_API_KEY"
# BASE_URL = "https://api.datalastic.com/api/v0/vessel_info"

# # Define a list of parameters to iterate through
# parameters = [
#     {"parameter1": "value1"},
#     {"parameter2": "value2"},
#     # Add more parameter-value pairs as needed
# ]

# # Function to make API calls and return JSON data
# def make_api_call(api_key, parameters):
#     headers = {"Authorization": f"Bearer {api_key}"}
#     response = requests.get(BASE_URL, headers=headers, params=parameters)
    
#     if response.status_code == 200:
#         return response.json()
#     else:
#         return None

# # Create an empty list to store JSON data
# json_data_list = []

# # Make API calls and store JSON data in the list
# for params in parameters:
#     json_data = make_api_call(API_KEY, params)
#     if json_data:
#         json_data_list.append(json_data)

# # Create a Pandas DataFrame from the list of JSON data
# df = pd.DataFrame(json_data_list)

# # You can now work with the Pandas DataFrame
# print(df)

### Archived: Vessel List Report

In [6]:
# curl -X POST -H "Content-Type: application/json" -d '{"api-key": "fe65ed94-b963-4335-9ec1-0a186213b2d9", "report_type": "vessel_list"}'
# "https://api.datalastic.com/api/v0/report"

In [7]:
import requests

# Define the API endpoint and payload (JSON data)
url = "https://api.datalastic.com/api/v0/report"
payload = {
    "api-key": "fe65ed94-b963-4335-9ec1-0a186213b2d9",
    "report_type": "vessel_list"
}

# Set the headers for the request
headers = {"Content-Type": "application/json"}

# Send a POST request with the payload and headers
response = requests.post(url, json=payload, headers=headers)

# Check the response status code
if response.status_code == 200:
    # The request was successful
    report_data = response.json()
    print("Report generated successfully!")
    # You can work with the report data here
else:
    # There was an error
    print(f"Report generation failed with status code {response.status_code}")
    print("Error message:", response.text)

Report generation failed with status code 400
Error message: {"meta":{"duration":0.000312191,"endpoint":"/api/v0/report","message":"Invalid or expired API Key","success":false}}

In [ ]:
import requests
import json
import pandas as pd

# Read the CSV file containing unique imo values into a DataFrame
data = pd.read_csv("imo_values.csv")
df_imo = data['imo']

# Create an empty DataFrame with columns based on the values in ship_cols, which will be used to store data from the API call
ship_cols = ['id', 'imo', 'vessel_name', 'beneficial_owner', 'beneficial_owner_country',
             'operator', 'operator_country', 'flag_name', 'vessel_type_code', 'built_year',
             'buyer', 'dwt_design', 'class1_code', 'technical_manager', 'technical_manager_country',
             'commercial_manager', 'commercial_manager_country', 'modified_at']
df_shipdata = pd.DataFrame(columns=ship_cols)

# Iterate through each IMO value, make an API call & store the output as a row in df_shipdata :
for imo in df_imo:
    params = {
      'api-key': 'fe65ed94-b963-4335-9ec1-0a186213b2d9',
      'imo': imo 
    }
    
    # make API call, result returned as a python dict
    method = 'vessel'
    api_base = 'https://api.datalastic.com/api/maritime_reports/ownership?'
    api_result = requests.get(api_base+method, params)
    api_response = api_result.json()

    # Extract the list of dictionaries under the 'data' key
    data_list = api_response['data']

    # Create a new DataFrame from the data_list
    new_data = pd.DataFrame(data_list)

    # Append the new data to the existing df_shipdata DataFrame
    df_shipdata = pd.concat([df_shipdata, new_data], ignore_index=True)

# Export the output from the API call into a CSV file
df_shipdata.to_csv('datalastic_ship_data.csv', index=False)